# Jellyfin
JELLYFIN_URL=

# Ntfy
NTFY_TZ=Asia/Ho_Chi_Minh
NTFY_CACHE_VOLUME_DIR=/docker-volumes/ntfy_cache
NTFY_DATA_VOLUME_DIR=/docker-volumes/ntfy_data
NTFY_VOLUME_DIR=/docker-volumes/ntfy_lib
NTFY_BASE_URL=http://localhost
